:root{
--roboto-16: 1.6rem / 1.5 "Roboto", sans-serif;
--montserrat-32: 800 3.2rem / 1.5 "Montserrat Alternates", sans-serif;
--montserrat-48: 800 4.8rem / 1 "Montserrat Alternates", sans-serif;
}

body {
  font: var(--roboto-16);
  background-color: #ffffff;
}

body > *>* {
  max-width: 1248px;
  margin: 0 auto;
}

/* *** Utility Classes *** */
.flex-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.toggle-btn, button {
  background-color: transparent;
  border: none;
  outline: none;
}

.toggle-btn:hover, button:hover, header img {
  cursor: pointer;
}

/* **Typography** */
.hero-banner h2{
  font: var(--montserrat-48);
}

h2{
    font: var(--montserrat-32);
    text-align: center;
    margin-bottom: 4.8rem;
}

h3, .portfolio-list li a p, .portfolio-list li span+p{
  font-size: 2rem;
  line-height: 1.6;
}

.hero-banner h2{
  text-transform: uppercase;
}

.hero-banner span{
  font-weight: 700;
}

.hero-banner h2+p{
  text-transform: uppercase;
}

.hero-banner p+p, small{
  font-size: x-small;
}

body>section:nth-of-type(2){
  font-size: 2rem;
}

.portfolio-list > p{
  font-size: 1rem;
}

/* _______________________________________________________________ */

/* **HEADER** */
header{
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: white;
  padding: 0 2.4rem;
  overflow: hidden;
  border-bottom: 1px solid #575757;
}

header img {
  max-width: 120px;
  max-height: 120px;
  width: auto;
  height: auto;
}

header section.flex-container{
  flex-flow: row nowrap;
  width: 100%;
}

header nav {
  position: absolute;
  top: 8.825rem;
  left: 0;
  background-color: #fff;
  width: 100%;
  /* display: none; */
  padding: 0 0 2.4rem 0;
}

header img:hover, footer nav img:hover{
  transform: scale(1.3);
  transition: all ease 1s;
}

 .show-nav {
  overflow: visible;
  transition: all 0.7s ease-in-out;
} 

ul.menu li{
  margin: 2.4rem 0 0 0;
}

.rect {
  fill: #333; /* Color of the rectangles */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.portfolio a, header a{
  color: #333;
}

/* HERO BANNER */
.hero-banner{
  background: url(../img/hero-banner.webp) center/cover no-repeat;
  padding: 7.2rem 4.8rem;
  position: relative;
  height: calc(100vh - 8.825rem);
  width: 100%;
}

.hero-banner div{
 background-color: rgba(255, 255, 255, 0.7);
 padding: 4.8rem;
 border-radius: 1.2rem;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 -o-transform: translate(-50%, -50%);
}

.hero-banner h2+p{
  top: 70%;
}

.hero-banner a, button.close{
  display: inline-block;
  margin: 2.4rem 0 0 0;
  padding: 1.2rem 2.4rem;
  background-color: #943b38;
  border-radius: 4.8rem;
}

.hero-banner a{
  color: white;
}

.hero-banner a:hover{
  color: #943b38;
  background-color: white;
  font-weight: 700;
}

header nav a:hover, header nav a:active, .portfolio-list a:hover, .portfolio-list a:active, .portfolio-items a:hover{
  text-transform: uppercase;
  font-weight: bold;
  color: #943b38;
}

/* ***ABOUT ME** */
body > section:nth-of-type(2){
  height:100vh;
  position:relative
}

body >  section:nth-of-type(2) div{
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* **PORTFOLIO SECTION** */
body> section:nth-of-type(3){
  background: url(../img/white-background-with-wavy-lines-accent.webp) center / cover no-repeat;
  padding: 12rem 0 5.65rem 0;
}

.portfolio-items{
  position: relative;
}

body> section:nth-of-type(3) a{
  color: #575757;
}

.portfolio-items section{
  background-color: rgba(255, 255, 255, 0.7);
  border: 2.4px solid #575757;
  border-radius:2.4rem;
  width: 80vw;
  text-align: center;
  margin: 2.4rem 0 0 0;
}

.portfolio-items img{
  height: 450px;
  border-radius: 2.4rem 2.4rem 0 0;
  object-fit: cover;
  object-position: 50% 0;
  -webkit-border-radius: 2.4rem 2.4rem 0 0;
  -moz-border-radius: 2.4rem 2.4rem 0 0;
  -ms-border-radius: 2.4rem 2.4rem 0 0;
  -o-border-radius: 2.4rem 2.4rem 0 0;
}
.portfolio-items div{
  margin: 1.2rem 0;
}

/* PORTFOLIO PAGE */
.portfolio{
  padding: 2.4rem;
}

.portfolio-list ul{
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 0 2.4rem 0;
  text-align: center;
  gap: 2.4rem
}

.portfolio li.flex-container{
  justify-content: center;
}

.portfolio-list li p{
  font-size: 1rem;
}

.portfolio-list > p{
  padding: 0 0 2.4rem 0;
  text-align: center;
}


.portfolio-list li:nth-of-type(2){
  text-transform: uppercase;
  font-weight: bold;
}

.portfolio a:hover p{
  transform: scale(1.3);
}

/* webdev */
.web-dev-album li{
  margin: 0 0 3rem 0
}


/* Contact Page/footer */
footer{
  width: 100%;
  background-color: #fff;
  border-top: 2px solid #9a129f;
  /* position: fixed; */
  bottom: 0;
  z-index: 100;
  text-align: center;
}

footer nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer nav img{
  height: 25px;
}

footer ul li{
  margin: 2.4rem;
}

footer p{
  max-width: 70%;
  margin: 0 auto 2.4rem auto;
}


@media screen and (min-width: 520px) {
  body >  section:nth-of-type(2) h2{
    font-size: 3.2rem;
    line-height: calc(48 / 32);
  }

  body >  section:nth-of-type(2) p{
    font-size: 2.8rem;
    line-height: calc(48 / 28);
  }

  /* PORTFOLIO */
  .portfolio-items section, .web-dev-album li{
    max-width: 470px;
    margin: 2.4rem auto;
  }
}

@media  screen and (min-width: 930px) {
  /* header */
  .toggle-btn{
    display: none;
  }

  header nav{
    position: unset;
  }

  ul.menu, div.flex-container{
    flex-flow: row nowrap;
    transition: all ease 2s;
}
   
  div.flex-container > *{
    width: 50%;
  }
  
  /* about me */

  body> section:nth-of-type(2) div{
    width: 70%;
  }

  body >  section:nth-of-type(2) h2, .hero-banner h2, h2{
    font-size: 4.8rem;
    line-height: calc(48 / 48);
  }

  body >  section:nth-of-type(2) p{
    font-size: 3.2rem;
    line-height: calc(48 / 32);
  }

  /* hero-banner */
  .hero-banner p+p{
    top: 175%;
  }


  /* portfolio page */
  .web-dev-album ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    transition: all ease 2s  ;
    -webkit-transition: all ease 2s  ;
    -moz-transition: all ease 2s  ;
    -ms-transition: all ease 2s  ;

  }

  .portfolio-album, .web-design-album{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
    -ms-transition: all ease 2s;
    -o-transition: all ease 2s;
}

.web-design-album{
  justify-content: space-between;
}

.web-design-album div{
  width: calc(100% / 2 - 2.4rem);
  height: 450px;
  overflow: hidden;
}

.web-design-album p{
  font-size: 1rem;
  line-height: calc(24 / 10);
  text-align: center;
  min-height: 48px;
  padding: 1.2rem;
}

.portfolio-list ul{
  justify-content: space-around;
}

/* web dev page */
.web-dev-album ul.flex-container{
  align-self: stretch;
}

.web-dev-album li{
  width: calc(100% / 3 - 2.4rem);
}

}

@media screen and (min-width: 1110px) {
  /* PORTFOLIO */
  .portfolio-items.flex-container{
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }

  .portfolio-items section{
    width: calc(100% / 3 - 2.4rem);
  }

}




